
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #FDF8F5;
  color: #4F4846;
  padding: 0px;
  margin: 0px;
}

/* This is styling for header section*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(57, 64, 69);
    line-height: 5px;
    
}


h1 {
    color: rgb(57, 64, 69);
    background-color: aquamarine;
    padding: 20px;
    padding-left: 40px;
    
}

.container1 {
    display: flex;
    align-items: center;
}


li {
    display: inline-flex;
}

a.links {
    padding: 12px;
}

a.links:link {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: aquamarine;
    color:aquamarine;

}

a.links:visited {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: aquamarine;
    color:aquamarine;
}

a.links:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(240, 234, 112);
    color:rgb(240, 234, 112);
    cursor: pointer;
}

a.links:active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: blueviolet;
    color: blueviolet;
}

/* This is styling for h2 tag only */

h2 {
    display: flex;
    justify-content: flex-end;
    padding: 35px;
    margin-left: 700px;
    margin-right: 50px;
    background-color: aquamarine;
    
}

.containerheader2 {
    padding: 20px;
    background-image: url('https://media.istockphoto.com/vectors/blue-and-gold-abstract-minimal-geometric-background-abstract-hitech-vector-id1276890189?k=20&m=1276890189&s=612x612&w=0&h=jLZGeqUcsqw6t3xPXtsGJ8j094aAWmhGOaj7Kvm9p8k=');
}

/* this is styling for about me section */

.section-container {
       Display: flex;
       flex-direction: column;
       column-gap: 50px;
}

.content2 {
    text-align: center;
    float: right;

}

/* this is styling for contact me links */
 .contactmelinks {
     display: flex;
     justify-content: flex-end;
     justify-content: space-evenly;
 }

/* for Media Queries */
@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 76px) {

}