

body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #282828;
  color: #4F4846;
  padding: 0px;
  margin: 0px;
}



/* Side navigation  */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #66FCF1;
    display: block;
    transition: 0.5s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Menu button styling */
  .btn {
    position: fixed;
    top: 5px;
    background-color: #66FCF1; 
    border: solid; 
    color: #282828; 
    padding: 24px 28px; 
    font-size: 25px; 
    cursor: pointer; 
    margin: 4px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #282828;
    color: #66FCF1;
  }




/* This is styling for header section*/
/* header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #282828;
    line-height: 25px;
    
} */

/* Image styling */
.profilePic {
    width: 334px;
    height: 398px;
    border-radius: 15px;
    position: relative;
    left: 150px;
    box-shadow: 0 12px 16px 0 #66FCF1, 0 17px 50px 0 #66FCF1;
}


li {
    display: inline-flex;
}

a.links {
    padding: 12px;
}

a.links:link {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #66FCF1;
    color: white;

}

a.links:visited {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #66FCF1;
    color: white;
}

a.links:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #66FCF1;
    color: #66FCF1;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 #66FCF1, 0 17px 50px 0 #66FCF1;
}

/* Hero page styling */
.container {
    margin: 35%;
}
.jumbotron-fluid {
    position: relative;
    right: 325px;
    bottom: 275px;
    color: #66FCF1;
}


.imageHeader {
    padding: 80px;
    /* height: 120px; */
    background-image: url('https://media.istockphoto.com/vectors/blue-and-gold-abstract-minimal-geometric-background-abstract-hitech-vector-id1276890189?k=20&m=1276890189&s=612x612&w=0&h=jLZGeqUcsqw6t3xPXtsGJ8j094aAWmhGOaj7Kvm9p8k=');
}



/* this is styling for about me section */
.aboutMe-container {
       Display: flex;
       justify-content: space-between;
       align-items: center;
       padding-bottom: 650px
}

#aboutme {
    /* margin-left: 100px;
    margin-bottom: 500px; */
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    font-size: 75px;
    color: #66FCF1;
}

#contentx p {
    font-size: 25px;
    width: 924px;
    margin-right: 50px;
    text-align: center;
    color: white;
}



/* This is styling for work section */
#work {
    position: relative;
    top: 100px;
    margin-left: 200px;
    font-size: 75px;
    color: #66FCF1;
}

.vertical {
    border-left: 6px solid #66FCF1;
    height: 32%;
    position:absolute;
    left: 35%;
    margin-top: 20px;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 25px;
}
/* separation of projects */
article {
    padding: 25px;
}

button {
    background-color: #282828;
    color: #66FCF1;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 button:hover {
    box-shadow: 0 12px 16px 0 #66FCF1, 0 17px 50px 0 #66FCF1;
    border: 3px solid #66FCF1;
 }

 /* positioning of project buttons */
 .greatDate {
     position: relative;
     left: 600px;
     bottom: 325px;
     padding: 25px;
 }

 .workDayPlanner {
    position: relative;
    left: 600px;
    bottom: 325px;
    padding: 25px;
 }

 .weatherDash {
    position: relative;
    left: 600px;
    bottom: 325px;
    padding: 25px;
 } 
  
 .techParagraph {
     padding: 40px;
     position: relative;
     left: 230px;
     color: white;
 }


 /* Styling for project pictures */
 .great-date {
    width: 334px;
    height: 398px;
    border-radius: 15px;
    position: relative;
    left: 150px;
 }

 .work-day {
    width: 334px;
    height: 398px;
    border-radius: 15px;
    position: relative;
    left: 150px;
 }

 .weather-dash {
    width: 334px;
    height: 398px;
    border-radius: 15px;
    position: relative;
    left: 150px;
 }


/* this is styling for contact me section and contact me links */
#contactme {
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #66FCF1;
    padding-top: 650px;
    padding-bottom: 200px;
}
 
.contactmelinks {
     display: flex;
     justify-content: flex-end;
     justify-content: space-evenly;
     color: #66FCF1;
 }



 /* This is styling for Resume section */
#resume {
    display: flex;
    justify-content: center;
    padding-top: 450px;
    color: #66FCF1;
    font-size: 50px;
}

.resume-download {
    position: relative;
    left: 661px;
    top: 150px;
    padding: 50px;
    font-size: 30px;

}

 

 /* Styling for footer */
 footer {
    display:flex;
    justify-content: center; 
    color: #66FCF1;
    padding-top: 250px;
 }









/* for Media Queries */
@media screen and (max-width: 428px) {
.btn {
   padding: 36px 38px;
}

.container {
    position: relative;
    top: 250px;
    left: 350px;
    padding-top: 150px;
}

.display-4 {
    font-size: 65px;
    width: 900px;
    position: relative;
    right: 50px;
    margin-top: 150px;
}

.lead {
  font-size: 35px;
  width: 700px;
  position: relative;
  right: 20px;
  margin: 15px
}

 #aboutme {
     font-size: 60px;
     padding-top: 200px;
     position: relative;
     left: 250px
 }
 
  .profilePic {
      position: relative;
      bottom: 100px;
      left: 250px;
      margin-bottom: 150px;
  }
 
  #contentx p {
      position: relative;
      right: 300px;
      top: 400px;
      font-size: 20px;
      width: 438px;
  }

  .vertical {
      display: none;
  }

  #work {
      position: relative;
      top: 100px;
      font-size: 40px;
  }

  .title {
      position: relative;
      top: 300px;
  }

  .great-date {
    width: 234px;
    height: 298px;
    border-radius: 15px;
    position: relative;
    left: 75px;
 }
  }

  /* .work-day {

  }

  .weather-dash {

  }

@media screen and (max-width: 76px) {

} */