

body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #282828;
  color: #4F4846;
  padding: 0px;
  margin: 0px;
}

/* This is styling for header section*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #282828;
    line-height: 5px;
    
}


h1 {
    color: #66FCF1;
    background-color: #282828;
    padding: 20px;
    padding-left: 40px;
    margin: 0px;
    
}

.navLinks {
    display: flex;
    align-items: center;
}


li {
    display: inline-flex;
}

a.links {
    padding: 12px;
}

a.links:link {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #66FCF1;
    color: white;

}

a.links:visited {
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: #66FCF1;
    color: white;
}

a.links:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: #3500D3;
    color: #3500D3;
    cursor: pointer;
}

.imageHeader {
    padding: 80px;
    /* height: 120px; */
    background-image: url('https://media.istockphoto.com/vectors/blue-and-gold-abstract-minimal-geometric-background-abstract-hitech-vector-id1276890189?k=20&m=1276890189&s=612x612&w=0&h=jLZGeqUcsqw6t3xPXtsGJ8j094aAWmhGOaj7Kvm9p8k=');
}

.vertical {
    border-left: 6px solid #66FCF1;
    height: 82%;
    position:absolute;
    left: 21%;
    margin-top: 20px;
}


/* this is styling for about me section */
.aboutMe-container {
       Display: flex;
       justify-content: space-between;
       align-items: center;
}

#aboutme {
    margin-left: 100px;
    margin-bottom: 500px;
    font-size: 50px;
    color: #66FCF1;
}

#contentx p {
    font-size: 25px;
    width: 924px;
    margin-right: 300px;
    text-align: center;
    color: white;
}



/* This is styling for work section */
#work {
    margin-left: 100px;
    font-size: 50px;
    color: #66FCF1;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 25px;
    text-align: center;
}

article {
    padding: 40px;
}

/* this is styling for contact me section and contact me links */
#contactme {
    margin-left: 100px;
    font-size: 50px;
    color: #66FCF1;
}
 
.contactmelinks {
     display: flex;
     justify-content: flex-end;
     justify-content: space-evenly;
     color: #66FCF1;
 }


 /* Styling for footer */
 footer {
     color: #66FCF1;
 }





/* for Media Queries */
@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 76px) {

}